@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-body">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-center" style="margin-bottom: 30px;"></h2>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="about-section">
                    <div class="inner-width">
                        <h1 class="about-us-title">About Us</h1>
                        <div class="border"></div>
                        <div class="about-section-row">
                            <div class="about-section-col">
                                <div class="about">
                                    <p>
                                        About us ! much info very lol
                                    </p>
                                </div>
                            </div>
                            <div class="about-section-col">
                                <div class="skills">
                                    <div class="skill">
                                        <div class="title">Sport Cars</div>
                                        <div class="progress">
                                            <div class="progress-bar p1"><span>90%</span></div>
                                        </div>
                                    </div>

                                    <div class="skill">
                                        <div class="title">Electric Car</div>
                                        <div class="progress">
                                            <div class="progress-bar p2"><span>70%</span></div>
                                        </div>
                                    </div>

                                    <div class="skill">
                                        <div class="title">Jeeps Cars</div>
                                        <div class="progress">
                                            <div class="progress-bar p3"><span>50%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="hidden-xs hidden-sm pull-right">
                    <img src="~/imgcars/about-1.jpg" alt="Car image" class="img-responsive" style="height:200px; margin-bottom:50px; border-radius: 5px;" />
                    <img src="~/imgcars/about-2.jpg" alt="Car image" class="img-responsive" style="height:200px; margin-bottom:50px; border-radius: 5px;" />
                    <img src="~/imgcars/about-3.jpg" alt="Car image" class="img-responsive" style="height:200px; margin-bottom:50px; border-radius: 5px;" />
                </div>
            </div>
        </div>

    </div>
</div>